.btn{
    padding: 10px 32px;
    border: 2px solid #fff;
    border-radius: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.4s ease;
    &:hover{
        background-color: #fff;
        color: #000;
        border-color: transparent;
    }
}